.grid-hanzi {
    font-size: 25px;
    margin: 0;
}

.grid-id {
    font-size: 8px;
    margin: 0;
}

.inp-field input {
    border: 0;
    outline: 0;
    height: 5vh;
    width: 20vw;
}

.login-text h2 {
    font-size: 30px;
}

.login-text h5 {
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    .grid-hanzi {
        font-size: 19px;
        margin: 0;
    }
    
    .grid-id {
        font-size: 6px;
        margin: 0;
    }

    .inp-field input {
        border: 0;
        outline: 0;
        height: 6vh;
        width: 42vw;
    }

    .login-text h2 {
        font-size: 20px;
    }
    
    .login-text h5 {
        font-size: 15px;
    } 

    .char-display h2 {
        font-size: 24px;
    }

    .char-display h4 {
        font-size: 16px;
    }

    .char-display h6 {
        font-size: 9px;
    }

    .char-display a {
        font-size: 7px;
    }

    .username {
        font-size: 15px;
    }

    .logout {
        font-size: 10px;
    }

    .knowledge-count {
        font-size: 15px;
    }
}